//Global colors
$main-color: #082645; //Dark blue
$second-color: #ffff80; //Sandy yellow
$fourth-color: #000; //Black
$fifth-color: #fff; //White

a {
    text-decoration: none;
    color: $fourth-color;
}