header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .header-row {
        &.row1 {
            .container {
                .block {
                    &.logos {
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        padding: 20px 0 0 50px;
                        .item {
                            &.logo {
                                a {
                                    img {
                                        height: 80px;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}