@import "./scss/globals";

@import "./scss/header";
@import "./scss/footer";

@import "./scss/main-content/row1";
@import "./scss/main-content/row2";
@import "./scss/main-content/row3";
@import "./scss/main-content/row4";
@import "./scss/main-content/row5";
