.main-row {
  &.row3 {
    background-color: $sixth-color;
    padding: 100px 0 80px;
    .container {
      &.text {
        display: flex;
        justify-content: space-between;
        .block {
          &.text {
            width: 60%;
          }
          &.image {
            width: 30%;
          }
        }
      }
    }
  }
}
